<!DOCTYPE html>
<html>
    <head>
     <title>Techsperince </title>
</head>
<body>
     <!-- content of webpage -->
     <h1>Techsperince </h1>
     <p> front end development part 1 </p>
     <ul> 
     	<li> bread </li>
     	<li> cofee beans </li>
     	<li> milk    </li>
     	<li> butter</li>
     </ul>
     <ol>
     	<li> gather ingridents </li>
     	<li>Mix ingridinets together </li>
     	<li>place ingridents in a baking dish </li>
     </ol>
     <h1> This is my first tag !!! </h1>
     <h2>This is another heading</h2>
     <h6>this is another heading !!!!</h6>
     <p>Lorem ipus is <strong> s simply dummy text </strong>of the printing and typersetting industry.
     	<em> lorem </em> 
     has been the industry standard dummy text ever since the 1550s , when
      </p> 
<h2> My choice list </h2>
<ol> 
	<li>red</li>
	<li>orange</li>
	<li>
		yellow
		<ul>
			<li> sunflower</li>
			<li>
				banana
				<ol>
					<li>Frozen banana</li>
					<li>Non frozen banana</li>
				</ol>
			</li>	
		</ul>
	</li>
</ol>
<ul>
	<li><strong>Red</strong></li>
	<li>Orange</li>
	<li>yellow</li>

</ul>
  <table border ="">
<tr>
   <td> row 2,Colmun 1</td>
<td> row 1 , column 2</td>
</tr>

<tr>
    <td>row 1, column 2 </td>
    <td>row 2, column 1 </td>
    </tr>
 

</body>
</html>