<!DOCTYPE html>
<html>
    <head>
     <h1> <strong> Register </strong> </h1>
 </head>
        <form>
     	first name :<br> <input type="text" name="firstname" placeholder="John"><br>
     	Last name :<br> <input type="text" name="lastname" placeholder="Smith">
     </form>
     <form action="">
  <input type="radio" name="gender" value="male"> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
  <form action="myform.cgi"> <input type="password" name="password" id="password" maxlength="6"> <label for="password"> 
  </label> <br><input type="submit" value="Submit"> </form>
Day
<select name="DOBDay">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>
Month 
Month
<select name="DOBMonth">
<option value="January">January</option>
<option value="February">February</option>
<option value="March">March</option>
<option value="April">April</option>
<option value="May">May</option>
<option value="June">June</option>
<option value="July">July</option>
<option value="Agust">Agust</option>
<option value="September">september</option>
<option value="October">Octember</option>
<option value="November">November</option>
<option value="December">December</option>
</select>
<select name="year">
				<option>Year</option>
				<option>2001</option>
				<option>2002</option>
				<option>2003</option>
				<option>2004</option>
				<option>2005</option>
				<option>2006</option>
				<option>2007</option>
				<option>2009</option>
			</select>
			<br>
			I agree to the terms and conditions <input type="checkbox" name="check">
			<br>
			<input type="submit" name="submit" value="Submit">
		</form>
	</body>
</html>
</select>

</form>
</head>
<body>